*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #080217;
    font-family: sans-serif;
}

.bg {
    position: fixed;
    right: -100px;
    top: -50px;
    z-index: -1000;
    width: 400px;
    opacity: 0.2;
}

.bg2 {
    position: fixed;
    left: 50px;
    bottom: 50px;
    z-index: -1000;
    width: 100px;
    opacity: 0.2;
}

.wrapper{
    max-width: 88%;
    margin: 0 auto;
}

/* alert */

.alert{
    color: rgb(142, 142, 142);
    text-align: center;
    font-size: 1.4rem;
    margin-top: 16px;
}

.join-server{
    padding: 4px 8px;
    background-color: blue;
    border-radius: 4px;
    margin-left: 8px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.join-server:hover{
    background-color: rgba(0, 0, 255, 0.529);
    color: rgba(255, 255, 255, 0.821);
}

/* Nav */

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px auto 0;
    padding: 12px 24px;
    background-color: rgba(0, 0, 255, 0.098);
    border-radius: 8px;
    max-width: 88%;
}

.topnav a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
    width: 140px;
    justify-content: space-between;
    cursor: pointer;
}

.menu {
    margin-left: 24px;
}

.menu:hover{
    color: rgb(72, 72, 249);
}

.navmenu a:active{
    color: rgb(0, 0, 255);
}

.navbutton{
    padding: 12px 20px;
    border-radius: 8px;
    margin-left: 24px;
}

.donate{
    border: 1px solid blue;
    color: blue;
}

.donate:hover{
    background-color: rgba(0, 0, 255, 0.529);
    color: white;
}

.internships{
    background-color: blue;
}

.internships:hover{
    background-color: rgba(0, 0, 255, 0.529);
    color: rgba(255, 255, 255, 0.821);
}

/* content */

.content {
    color: white;
    text-align: center;
    width: 88%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

h1 {
    margin-top: 64px;
    font-size: 5.6rem;
    line-height: 125%;
}

.content p {
    font-weight: 100;
    font-size: 2.0rem;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.711);
    margin-top: 24px;
}

.content a {
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: blue;
    font-size: 1.4rem;
    margin-top: 24px;
}

.content a:hover {
    background-color: rgba(0, 0, 255, 0.529);
    color: rgba(255, 255, 255, 0.821);
}

.herobutton {
    margin-top: 32px;
    width: 100%;
}

.herobutton a {
    width: 100px;
}

.vid {
    margin: 0 auto;
    display: block;
    margin-top: 56px;
    border-radius: 8px;
}

.second-section {
    color: white;
    /* border: 2px dotted red; */
    width: 88%;
    margin: 0 auto;
    font-size: 1.6rem;
    text-align: center;
}

.courses {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
}

.course {
    border-radius: 8px;
    overflow: hidden;
    flex: 0 0 350px;
    margin: 16px 8px;
    background-color: rgba(0, 0, 255, 0.098);
}

#courseImage {
    width: 100%;
}

.courseContent {
    padding: 16px 24px;
    text-align: left;
}

.course h2 {
    color: blue;
}

.course p {
    opacity: 0.8;
    margin-top: 8px;
}

.cardButton {
    display: flex;
    color: white;
    width: 100%;
    height: 4.0rem;
    align-items: center;
    justify-content: center;
    margin: 16px auto 0;
    border: 1px solid blue;
    border-radius: 4px;
    font-size: 1.4rem;
}

.cardButton:hover{
    background-color: rgba(0, 0, 255, 0.529);
    color: white;
}

.thirdSection {
    text-align: center;
    color: white;
    width: 88%;
    margin: 0 auto;
    padding: 0 40px;
}

.sections {
    display: flex;
    justify-content: space-around;
}

.rightSection {
    margin-top: 200px;
}

.leftSection img {
    position: sticky;
    margin-top: 100px;
    top: 100px;
}

.test {
    width: 350px;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 255, 0.132);
    border-radius: 8px;
    padding: 32px 24px;
}

.test img {
    margin-bottom: 8px;
    width: 64px;
    border-radius: 50%;
}

.test h2 {
    font-size: 2.4;
    margin-bottom: 8px;
}

.test p {
    color: white;
    font-size: 1.4rem;
    opacity: 0.8;
}

.fourthSection {
    width: 88%;
    margin: 40px auto;
    text-align: center;
    color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fourthSection img {
    width: 400px;
    margin-top: 24px;
    border-radius: 8px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.098);
    width: 100%;
    height: 300px;
    color: white;
}

.footerLogo {
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
}

.footer img {
    width: 50px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.6rem;
    width: 30%;
}

.links ul li {
    color: white;
    display: flex;
    text-decoration: underline;
    list-style: none;
    line-height: 32px;
}

.links ul li:hover {
    color: rgb(72, 72, 249);

}

.links ul li a:hover {
    color: rgb(72, 72, 249);

}

.links ul li a {
    color: white;
}